body {
  padding-top: 61px;  /* Move body of page below navbar. */
  margin-top: 25px;
  background: url('/images/background.jpg') center center fixed;
}

.ui.top.fixed.borderless.inverted.menu {
  background-color: #D8B98E;
}
